@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Bold'), local('DINNextLTPro-Bold'),
        url('fonts/DINNext/DINNextLTPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
:root {
  --height: -100px;
  --width: -150px
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.project-carousel {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}

.projects-container {
  display: inline-block; 
  text-align: left; 
}

.project-item {
  display: inline-block; 
  vertical-align: top; 
  width: 35%; 
  margin-left: 10.7%;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeIn 1s;
}

.project-item.hidden {
  opacity: 0;
  display: none; 
  animation: fadeIn 1s;
}

.project-item.active {
  opacity: 1;
  display: inline-block;
  animation: fadeIn 1s;
}

.page-counter {
  position: absolute;
  top: 95%;
  left: 50%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: whitesmoke;
}



.content {
  font-family: "Nunito";
  color: whitesmoke;
  background-color: transparent;
  padding: 25px;
  border: 1px solid whitesmoke;
  border-width: 5px;
  border-radius: 25px;
  transition: transform 0.25s ease-in-out;
  text-align: center;
}

.content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: rotateX(-10deg)}
  to { opacity: 1; transform: rotateX(0) }
}